@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 body{
    background: #ccf0f5;
    position: relative;
 }

 .side-bar{
    position: absolute;
    left: 0;
    width: 20%;
    height: 100vh;
    padding: 10px;
    background: #fbfcfc;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
 }

 .side-bar .profile{
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
 }
.side-bar .bxs-chevron-right-circle{
    position: absolute;
    right: -23px;
    font-size: 25px;  
}

 .side-bar .profile img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
 }

 .side-bar .profile .username h3{
    color: #566573;
    cursor: pointer;
 }

 .side-bar .profile .username p{
    font-size: 14px;
    color: #808b96;
    cursor: pointer;
 }
 .side-bar-search {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%; 
    margin-top: 30px; 
    margin-bottom: 15px;
}

.side-bar-search .input {
	font-size: 18px;
	padding: 12px 10px;
	width: 100%;
	padding-left: 45px;
	outline: none;
	background: #e5e7e9;
	color: #566573;
    font-weight: bold;
    font-size: 14px;
	border: none;
	border-radius: 5px; 
}

.side-bar-search .input::placeholder {
	color: #808b96;
}

.side-bar-search .svg_icon {
	position: absolute;
	left: 15px;
	fill: #808b96;
	width: 18px;
	height: 18px;
}

.side-bar .side-bar-link{
    display: flex;
	align-items: center;
    gap: 15px;
    margin: 4px 0; 
    padding: 12px 10px; 
    font-size: 16px;
    font-weight: 400; 
	border: none;
	border-radius: 5px; 
    text-decoration: none;
    color: #566573; 
}

.side-bar :is(.side-bar-link,.side-bar-bottom) i{
    font-size: 25px; 
}

.side-bar .side-bar-link:nth-of-type(2){
    background: #7056d6;
    color: #fbfcfc;
}
 
.side-bar :is(.side-bar-link,.side-bar-bottom .logout,.side-bar-bottom .Themes):hover{
    background: #eaeded; 
}

.side-bar .side-bar-link:nth-of-type(2):hover{
    background: #7056d6;
    color: #fbfcfc;
}

.side-bar .side-bar-bottom{
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0; 
    padding: 10px;
    border-top: 1px solid gray;
    background: #fbfcfc;
}
.side-bar .side-bar-bottom .logout{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px; 
    font-size: 16px;
    font-weight: 400; 
	border: none;
	border-radius: 5px; 
    text-decoration: none;
    color: #566573; 
}

.side-bar .side-bar-bottom .Themes-Checkbox{
    display: flex;
    align-items: center; 
    width: 45px;
    height: 20px;
    background: #000;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
 }
 
 .side-bar .side-bar-bottom .Themes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px; 
    font-size: 16px;
    font-weight: 400; 
	border: none;
	border-radius: 5px;
    color: #566573;
    cursor: pointer;
 }

 .side-bar .side-bar-bottom .Themes span{
    display: flex;
    align-items: center; 
    gap: 10px;
 }

 .side-bar .side-bar-bottom .Themes-Checkbox p{
    width: 20px;
    height: 20px;
    border-radius: 55%;
    background: #eaeded;
 }

 /*
 for toggle
 */

 .active_right_circle{ 
    transform: rotate(180deg);
 }

.active_side-bar{
    width: 80px; 
}

.active_side-bar_style{
    display: none; 
}

.active_side-bar-li{
    justify-content: center;
}
 @media (max-width: 1245px){
    .side-bar{
        width: 30%;
    }
    .active_side-bar{
        width: 80px;
    }
 }

 @media (max-width: 780px){
    .side-bar{
        width: 40%; 
    }
    .active_side-bar{
        width: 80px;
    }
 }

 @media (max-width: 620px){
    .side-bar{
        width: 80%;
    }
    .active_side-bar{
        width: 80px;
    }
 } 

 @media (max-width: 380px){
    .side-bar{
        width: 90%;
    }
    .active_side-bar{
        width: 80px;
    }
 } 

 @media (max-width: 270px){
    .side-bar{
        width: 80px;
    }
    .side-bar :is(.side-bar-link,.side-bar-bottom .logout) p{
        display: none;
    }

    .side-bar .profile .username,.side-bar .side-bar-bottom .Themes span{
        display: none;
    }
    .side-bar .side-bar-link,.side-bar .side-bar-bottom .logout{
        justify-content: center;
    }

    .side-bar-search .svg_icon{
        left: 20px;
    }

    .side-bar-search .input{
        width: 0;
    }
    .side-bar .bxs-chevron-right-circle{
        display: none; 
    }
    
 } 

 @media (max-height:600px){
    
    .side-bar .side-bar-bottom{
        position: relative; 
        width: 100%;
        padding: 0; 
        margin-top: 20px;
    }
    .side-bar{
        height: auto;
    }
 }

  
