@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 6px; 
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #397524;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #62A34B;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #62A34B;
  }

 body{ 
    --body-background:#ccf0f5;
    --side-bar-color:#566573;
    --side-bar-background:#fbfcfc;
    --side-bar-color2:#808b96;
    --side-bar-color-link:#566573;
    --side-bar-backg-link:#7056d6;
    --side-bar-input:#e5e7e9;
    --side-bar-bottom:#000;
    --side-bar-content:left;
    --hover-bg:#eaeded;
    background: #ccf0f5;
    position: relative;
 }
 .side-bar{
    position: absolute;
    left: 0;
    width: 280px;
    height: 100vh;
    padding: 11px;
    color: var(--side-bar-color);
    background: var(--side-bar-background);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: .5s ease-in-out;

 }

 .side-bar .profile{
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
 }
 
.side-bar .ri-arrow-right-circle-fill{
    position: absolute;
    right: -13px;
    top: 20px;
    font-size: 25px;  
    transition: .5s ease-in-out;
    background: var(--body-background);
    color: #7056d6;
    border-radius: 50%;
    cursor: pointer;
}

.active_side-bar .ri-arrow-right-circle-fill {
    transform: rotate(180deg);
}
 .side-bar .profile img{
    width: 55px;
    height: 55px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    cursor: pointer;
    pointer-events: none;
 } 

 .side-bar .profile .username h3{
    cursor: pointer;
 }

 .side-bar .profile .username p{
    font-size: 14px;
    color: var(--side-bar-color2);
    cursor: pointer;
 }

 .side-bar-search {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%; 
    margin-top: 20px;
    margin-bottom: 15px;
}

.side-bar-search .input {
	font-size: 18px;
	padding: 12px 10px;
	width: 100%;
	padding-left: 49px;
	outline: none;
    color: var(--side-bar-color);
	background: var(--side-bar-input);
    font-weight: bold;
    font-size: 14px;
	border: none;
	border-radius: 5px; 
    transition: .5s ease-in-out;
}

.side-bar-search .input::placeholder {
	color: #808b96; 
}

.side-bar-search .svg_icon {
	position: absolute;
	left: 19px;
	fill: #808b96;
	width: 18px;
	height: 18px;
}

.side-bar-search .svg_icon.color{
    fill: #d0d3d4;
}

.side-bar-contents{
    overflow-y: auto; 
    overflow-x: hidden; 
    height: calc(100vh - 280px);
}

.side-bar .side-bar-link{
    display: flex;
	align-items: center; 
    gap: 17px;
    color:var(--side-bar-color-link);
    margin: 5px 0px;  
    padding: 8px 10px;
    padding-left: 17px;
    font-size: 15px;
    font-weight: 400; 
	border: none;
	border-radius: 5px; 
    text-decoration: none;
    transition: .5s ease-in-out;
}

.side-bar :is(.side-bar-link,.side-bar-bottom) i{
    font-size: 24px; 
}

.side-bar .side-bar-link:nth-child(2){
    background: var(--side-bar-backg-link);
    color: #ffffff;
}
 
.side-bar :is(.side-bar-link:not(:nth-child(2)),.side-bar-bottom .logout,.side-bar-bottom .Themes):hover{
   background:var(--hover-bg);
}

.side-bar .side-bar-bottom{
    border-top: 1px solid gray; 
    padding-top: 5px;
    overflow: hidden;
}

.side-bar .side-bar-bottom .logout{
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--side-bar-color);
    padding: 8px 10px 8px 15px;
    font-size: 16px;
    font-weight: 400; 
	border: none;
	border-radius: 5px; 
    text-decoration: none; 
    transition: .5s ease-in-out;
}

 .side-bar .side-bar-bottom .Themes{
    position: relative; 
    padding: 8px 10px 8px 15px;
    font-size: 16px;
    font-weight: 400; 
	border: none;
	border-radius: 5px; 
    cursor: pointer;
    transition: .5s ease-in-out;
 }

 .side-bar .side-bar-bottom .Themes span{
    display: flex;
    align-items: center; 
    gap: 20px; 
    height: 30px;
    transform: translateX(0px);
    transition: transform .5s ease-in-out;
 } 

 .active_side-bar .side-bar-bottom .Themes span {
    transform: translateX(-200px);
}

 .side-bar .side-bar-bottom .Themes-Checkbox{
    position: absolute;
    right: 10px;
    top: 15px;
    display: flex;
    align-items: center; 
    justify-content: var(--side-bar-content);
    width: 45px;
    height: 22px;
    background: var(--side-bar-bottom);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: .5s ease-in-out;
 }

 .side-bar .side-bar-bottom .Themes-Checkbox p{
    width: 18px;
    height: 18px;
    margin: 2px;
    border-radius: 55%;
    background:var(--hover-bg);
 }

 /*
 for toggle
 */ 

.active_side-bar{
    width: 80px; 
}
 
.themes {
    --side-bar-color:#ecf0f1;
    --side-bar-color2:#979a9a;
    --side-bar-input:#17202a;
    --side-bar-color-link:#d0d3d4;
    --side-bar-bottom:#eaeded;
    --side-bar-content:right;
    --side-bar-background:#000;
    --hover-bg:#2c3e50;
}